# all build folder 
build/
dist/
/GrammarVisual/nbproject/private/
/sccnb/nbproject/private/
/jung-samples/nbproject/private/
/NBVisualTest/nbproject/private/
/AstVisual/nbproject/private/
/callJavaC/nbproject/private/
SableCCNetbeans/sccnb/nbproject/genfiles.properties
SableCCNetbeans/sccnb/nbproject/project.xml

